<%
var featureimg = url_for('/medias/bg.jpg');
if (page.img) {
    featureimg = url_for(page.img);
} else {
    var hashCode = function (str) {
        if (!str && str.length === 0) {
            return 0;
        }

        var hash = 0;
        for (var i = 0, len = str.length; i < len; i++) {
            hash = ((hash << 5) - hash) + str.charCodeAt(i);
            hash |= 0;
        }
        return hash;
    };

    var len = theme.featureImages.length;
    var num = Math.abs(hashCode(page.title) % len);

    featureimg = theme.jsDelivr.url
            ? theme.jsDelivr.url + url_for(theme.featureImages[num])
            : url_for(theme.featureImages[num]);
}
%>

<div class="bg-cover pd-header post-cover" style="background-image: url('<%- featureimg %>')">
    <div class="container" style="right: 0px;left: 0px;">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="brand">
                    <h1 class="description post-title"><%= page.title %></h1>
                </div>
                <div class="post-info">
                    <% if (theme.postInfo.date) { %>
                        <div class="post-date info-break-policy">
                            <i class="far fa-check-circle"></i><%- __('publishDate') %>:&nbsp;&nbsp;
                            <%- date(page.date, 'YYYY-MM-DD') %>
                        </div>
                    <% } %>

                    <% if (theme.postInfo.update) { %>
                        <div class="post-date info-break-policy">
                            | <i class="fas fa-history fa-fw"></i><%- __('updateDate') %>:&nbsp;&nbsp;
                            <%- date(page.updated, 'YYYY-MM-DD') %>
                        </div>
                    <% } %>

                    <% if (theme.postInfo.wordCount) { %>
                        <div class="info-break-policy">
                            | <i class="far fa-file-word fa-fw"></i><%- __('wordCount') %>:&nbsp;&nbsp;
                            <%= wordcount(page.content) %>
                        </div>
                    <% } %>

                    <% if (theme.postInfo.min2read) { %>
                        <div class="info-break-policy">
                            | <i class="far fa-clock fa-fw"></i><%- __('readTimes') %>:&nbsp;&nbsp;
                            <%= min2read(page.content) %> <%= __('Minutes') %>
                        </div>
                    <% } %>

                    <% if (theme.postInfo.readCount && theme.busuanziStatistics && theme.busuanziStatistics.enable) { %>
                        <div id="busuanzi_container_page_pv" class="info-break-policy">
                            | <i class="far fa-eye fa-fw"></i><%- __('readCount') %>:&nbsp;&nbsp;
                            <span id="busuanzi_value_page_pv"></span>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
